<!--/*
=====================================================
; Title: Web 450 nodebucket
; Author: Professor Krasso
; Date 21 November 2021
; Modified By: Jourdan Neal
; Description: Deployment, completed project. Tasks can be created by the user
; from there moved between To Do, Doing and Done columns. Tasks can be deleted
; by selecting the trash can icon. Tasks can also be re-arranged within each column.
; Users sign in and the signed in under the profile icon.
=====================================================
*/-->

<div fxLayout="row wrap" class="contact-container">
  <div fxFlex>
    <!--Mat-Card-->
    <mat-card class="mat-elevation-z2">
      <!--Card Title-->
      <mat-card-title align="center">About Us</mat-card-title>
      <br>

      <!--Card-content-->
      <mat-card-content>
          <!---About us information.---->

        <p>Nodebucket is an application designed to allow users to track and complete
          user-generated tasks. Tasks can be added, then moved from To-Do column to
          Completed column and can be deleted by the user. Users can log into their own
          profiles and tasks remain in their perspective columns when they are logged into
          the MongoDB Database. </p>
        <p>Nodebucket uses cookie services and requires users to sign in using pre-determined user ID’s.
           Each user is able to create their own tasks and move them through different stages. When a user
           is done within their profile they can sign out and will be re-directed back to the homepage. Within
           the application is a Home page, Contact page, and About page. The application also includes a
           Not Found 404 page.</p>
        <p>The project will be created using Angular and the database will be created and stored with MongoDB.
           SoapUI will be used to test product solutions. Angular Material and Bootstrap will be used to style
            pages. This project is a MEAN project meaning it uses MongoDB, Express, Angular and Node.js.</p>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
</div>

