<!--/*
=====================================================
; Title: Web 450 nodebucket
; Author: Professor Krasso
; Date 21 November 2021
; Modified By: Jourdan Neal
; Description: Deployment, completed project. Tasks can be created by the user
; from there moved between To Do, Doing and Done columns. Tasks can be deleted
; by selecting the trash can icon. Tasks can also be re-arranged within each column.
; Users sign in and the signed in under the profile icon.
=====================================================
*/-->

<div fxLayout="row wrap" class="contact-container">
  <div fxFlex>
    <!--Mat-Card-->
    <mat-card class="mat-elevation-z2">
      <!--Card Title-->
      <mat-card-title align="center">Contact Us</mat-card-title>
      <br>
      <!--Card-content-->
      <mat-card-content>
        <div>
          <!--Left column ph # info-->
        <div fxFlex align="center">
          <!--Phone icon.-->
          <mat-icon>phone</mat-icon>
          <br>
          <p><strong>Direct: </strong>(402) 293-2000</p>
          <br>
          <p><strong>Toll Free: </strong>1-888-555-5555</p>
          <br>
          <p><strong>Fax: </strong>(402) 555-5555</p>
        </div>
        <!--right column address info-->
        <div fxFlex align="center">
          <!--Address icon-->
          <mat-icon color="primary">navigation</mat-icon>
          <br>
          <p><strong>Address</strong></p>
          <p>100 Galvin Rd S.</p>
          <p>Bellevue, NE, 68005</p>
        </div>
      </div>
      <br><br> <!-- spacing breaks-->
      <!--Visit online or other locations message across bottom-->
      <div align="center"><p><em>Visit us online or at one of our many great locations
        throughout the Omaha metro area.</em></p></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
