<!--/*
=====================================================
; Title: Web 450 nodebucket
; Author: Professor Krasso
; Date 21 November 2021
; Modified By: Jourdan Neal
; Description: Deployment, completed project. Tasks can be created by the user
; from there moved between To Do, Doing and Done columns. Tasks can be deleted
; by selecting the trash can icon. Tasks can also be re-arranged within each column.
; Users sign in and the signed in under the profile icon.
=====================================================
*/-->

<div fxLayout="row wrap" class="contact-container">
  <div fxFlex>
    <!--Mat-Card-->
    <mat-card class="mat-elevation-z2">
      <!--Card Title-->
      <mat-card-title align="center">404 <br><br><br> Page Not Found</mat-card-title>
      <br>
      <!--Card-content-->
      <mat-card-content>
        <span class="material-icons">
          search
        </span>
          <h3>Whoops... the page you are looking for is not found.</h3>
          <button mat-raised-button color="primary" routerLink="/home">Return Home</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>


